body {
  text-align: center;
  font-family: sans-serif;
  background-image: url("../img/pic1.jpg");
  background-size: contain;
}

h1 {
  color: white;

}

.btn-start {
  background-color: antiquewhite;
  border: 2px solid white;
 margin-top: 30%;
  width: 120px;
  height: 30px;
  margin: auto;
  display: inline-block;
  border-radius: 10px;
  font-size: 15px;
  color: rgba(78, 26, 16, 0.836);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.start{
  display: none;
}


.begin {
  padding-top: 60px;
  font-size: 30px;
  color: antiquewhite;
    position: absolute;
  margin-left: 30%;
  background-image: url("../img/pic2.jpg");
  background-size: contain;
  border: 3px beige solid;
  border-radius: 8%;
  height: 40%;
  width: 40%;
  margin-top: 100px;
}

table {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-head {
  cursor: pointer;

}

.arrows {
  margin: 20px;
}

.btn-bomb {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.185);
  border: 1px lightcyan solid;
  border-radius: 7%;
  margin: 20px;
}

img {
  cursor: pointer;
}

.btn {

  background-color: rgba(172, 88, 71, 0.836);
  border: 2px solid white;
  /* background-color: rgba(187, 148, 99, 0.795); */
  width: 120px;
  height: 30px;
  margin: auto;
  margin-left: 3px;
  display: inline-block;
  border-radius: 10px;
  font-size: 15px;

  padding: 5px;
  border-radius: 10px;

}

.btn-play {
  width: 100px;
  height: 25px;
  color: antiquewhite;
  background-color: rgb(42, 65, 65);
  border: 2px solid white;
}

table {
  border: 0.5px seashell solid;
  background-color: rgba(12, 11, 19, 0.566);
}

.cell {
  background-color: rgba(14, 13, 21, 0.244);
  height: 28px;
  width: 28px;

}

table .floor {
  background-image: url("../img/ground.png");
  /* background-image: url("/img/ground.png"); */
  background-size: contain;
  /* background-size:100%; */
}

.modal {
  position: absolute;
  display: none;
  margin-left: 40%;
  top: 200px;
  padding: 20px;
  height: 10%;
  min-height: 40px;
  width: 20%;
  min-width: 120px;
  background-color: rgba(8, 59, 59, 0.838);
  border-radius: 10px;
  color: lightcyan;
}

.restart {
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  background-color: darkseagreen;
  color: rgb(24, 52, 52);
  height: 30px;
  width: 100px;
  margin: auto;
}